Schemas/SpringerBook.dtd


<!--
DTD generated from ODD source 2016-04-11T07:13:15Z. .CC-BY
TEI Edition: Version 3.0.0. Last updated on
	29th March 2016, revision 89ba24e
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.0.0/

-->

<!-- start datatypes -->

<!ENTITY % teidata.certainty '(high|medium|low|unknown)' >

<!ENTITY % teidata.probability ' CDATA ' >

<!ENTITY % teidata.numeric ' CDATA ' >

<!ENTITY % teidata.count ' CDATA ' >

<!ENTITY % teidata.temporal.w3c ' CDATA ' >

<!ENTITY % teidata.duration.iso ' CDATA ' >

<!ENTITY % teidata.duration.w3c ' CDATA ' >

<!ENTITY % teidata.truthValue ' CDATA ' >

<!ENTITY % teidata.xTruthValue ' CDATA ' >

<!ENTITY % teidata.language ' CDATA ' >

<!ENTITY % teidata.outputMeasurement ' CDATA ' >

<!ENTITY % teidata.pointer ' CDATA ' >

<!ENTITY % teidata.versionNumber ' CDATA ' >

<!ENTITY % teidata.word ' CDATA ' >

<!ENTITY % teidata.text ' CDATA ' >

<!ENTITY % teidata.name ' CDATA ' >

<!ENTITY % teidata.enumerated '%teidata.word;' >

<!ENTITY % teidata.probCert ' CDATA ' >

<!ENTITY % data.word ' CDATA ' >

<!-- end datatypes -->

<!-- predeclared classes -->

<!ENTITY % model.placeNamePart ""> 
<!ENTITY % model.placeNamePart_sequence ""> 
<!ENTITY % model.placeNamePart_sequenceOptional ""> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeNamePart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.ConferenceInfoPart "ConfSeriesName |ConfEventAbbreviation |ConfNumber |ConfEventLocation |ConfEventDateStart |ConfEventDateEnd"> 
<!ENTITY % model.ConferenceInfoPart_sequence "ConfSeriesName, ConfEventAbbreviation, ConfNumber, ConfEventLocation, ConfEventDateStart, ConfEventDateEnd"> 
<!ENTITY % model.ConferenceInfoPart_sequenceOptional "ConfSeriesName?, ConfEventAbbreviation?, ConfNumber?, ConfEventLocation?, ConfEventDateStart?, ConfEventDateEnd?"> 
<!ENTITY % model.ConferenceInfoPart_sequenceOptionalRepeatable "ConfSeriesName*, ConfEventAbbreviation*, ConfNumber*, ConfEventLocation*, ConfEventDateStart*, ConfEventDateEnd*"> 
<!ENTITY % model.ConferenceInfoPart_sequenceRepeatable "ConfSeriesName+, ConfEventAbbreviation+, ConfNumber+, ConfEventLocation+, ConfEventDateStart+, ConfEventDateEnd+"> 
<!ENTITY % model.ContactPart "Phone |Fax |Email |URL |Street |Postbox |Postcode |City |State |Country"> 
<!ENTITY % model.ContactPart_sequence "Phone, Fax, Email, URL, Street, Postbox, Postcode, City, State, Country"> 
<!ENTITY % model.ContactPart_sequenceOptional "Phone?, Fax?, Email?, URL?, Street?, Postbox?, Postcode?, City?, State?, Country?"> 
<!ENTITY % model.ContactPart_sequenceOptionalRepeatable "Phone*, Fax*, Email*, URL*, Street*, Postbox*, Postcode*, City*, State*, Country*"> 
<!ENTITY % model.ContactPart_sequenceRepeatable "Phone+, Fax+, Email+, URL+, Street+, Postbox+, Postcode+, City+, State+, Country+"> 
<!ENTITY % model.DatePart "Year |Month |Day"> 
<!ENTITY % model.DatePart_sequence "Year, Month, Day"> 
<!ENTITY % model.DatePart_sequenceOptional "Year?, Month?, Day?"> 
<!ENTITY % model.DatePart_sequenceOptionalRepeatable "Year*, Month*, Day*"> 
<!ENTITY % model.DatePart_sequenceRepeatable "Year+, Month+, Day+"> 
<!ENTITY % model.PartInfoPart "PartID |PartNumber |PartSequenceNumber |PartTitle |PartSubTitle |PartChapterCount |PartContext"> 
<!ENTITY % model.PartInfoPart_sequence "PartID, PartNumber, PartSequenceNumber, PartTitle, PartSubTitle, PartChapterCount, PartContext"> 
<!ENTITY % model.PartInfoPart_sequenceOptional "PartID?, PartNumber?, PartSequenceNumber?, PartTitle?, PartSubTitle?, PartChapterCount?, PartContext?"> 
<!ENTITY % model.PartInfoPart_sequenceOptionalRepeatable "PartID*, PartNumber*, PartSequenceNumber*, PartTitle*, PartSubTitle*, PartChapterCount*, PartContext*"> 
<!ENTITY % model.PartInfoPart_sequenceRepeatable "PartID+, PartNumber+, PartSequenceNumber+, PartTitle+, PartSubTitle+, PartChapterCount+, PartContext+"> 
<!ENTITY % model.NamePart "GivenName |NoGivenName |Initials |NoInitials |Particle |FamilyName |Suffix |Prefix |Degrees |NativeName"> 
<!ENTITY % model.NamePart_sequence "GivenName, NoGivenName, Initials, NoInitials, Particle, FamilyName, Suffix, Prefix, Degrees, NativeName"> 
<!ENTITY % model.NamePart_sequenceOptional "GivenName?, NoGivenName?, Initials?, NoInitials?, Particle?, FamilyName?, Suffix?, Prefix?, Degrees?, NativeName?"> 
<!ENTITY % model.NamePart_sequenceOptionalRepeatable "GivenName*, NoGivenName*, Initials*, NoInitials*, Particle*, FamilyName*, Suffix*, Prefix*, Degrees*, NativeName*"> 
<!ENTITY % model.NamePart_sequenceRepeatable "GivenName+, NoGivenName+, Initials+, NoInitials+, Particle+, FamilyName+, Suffix+, Prefix+, Degrees+, NativeName+"> 
<!ENTITY % model.referenceElements "ExternalRef |InternalRef |CitationRef"> 
<!ENTITY % model.referenceElements_sequence "ExternalRef, InternalRef, CitationRef"> 
<!ENTITY % model.referenceElements_sequenceOptional "ExternalRef?, InternalRef?, CitationRef?"> 
<!ENTITY % model.referenceElements_sequenceOptionalRepeatable "ExternalRef*, InternalRef*, CitationRef*"> 
<!ENTITY % model.referenceElements_sequenceRepeatable "ExternalRef+, InternalRef+, CitationRef+"> 
<!ENTITY % model.verySimpleText "Superscript |Subscript |Stack |Emphasis"> 
<!ENTITY % model.verySimpleText_sequence "Superscript, Subscript, Stack, Emphasis"> 
<!ENTITY % model.verySimpleText_sequenceOptional "Superscript?, Subscript?, Stack?, Emphasis?"> 
<!ENTITY % model.verySimpleText_sequenceOptionalRepeatable "Superscript*, Subscript*, Stack*, Emphasis*"> 
<!ENTITY % model.verySimpleText_sequenceRepeatable "Superscript+, Subscript+, Stack+, Emphasis+"> 
<!ENTITY % model.simpleText "InlineEquation |%model.verySimpleText; |Literal |Footnote |Sidebar |InlineMediaObject"> 
<!ENTITY % model.simpleText_sequence "InlineEquation, %model.verySimpleText;, Literal, Footnote, Sidebar, InlineMediaObject"> 
<!ENTITY % model.simpleText_sequenceOptional "InlineEquation?, %model.verySimpleText;?, Literal?, Footnote?, Sidebar?, InlineMediaObject?"> 
<!ENTITY % model.simpleText_sequenceOptionalRepeatable "InlineEquation*, %model.verySimpleText;*, Literal*, Footnote*, Sidebar*, InlineMediaObject*"> 
<!ENTITY % model.simpleText_sequenceRepeatable "InlineEquation+, %model.verySimpleText;+, Literal+, Footnote+, Sidebar+, InlineMediaObject+"> 
<!ENTITY % model.ListElements "OrderedList |UnorderedList |DefinitionList"> 
<!ENTITY % model.ListElements_sequence "OrderedList, UnorderedList, DefinitionList"> 
<!ENTITY % model.ListElements_sequenceOptional "OrderedList?, UnorderedList?, DefinitionList?"> 
<!ENTITY % model.ListElements_sequenceOptionalRepeatable "OrderedList*, UnorderedList*, DefinitionList*"> 
<!ENTITY % model.ListElements_sequenceRepeatable "OrderedList+, UnorderedList+, DefinitionList+"> 
<!ENTITY % model.fullText "Table |Equation |%model.referenceElements; |BlockQuote |%model.simpleText; |%model.ListElements; |Figure |MediaObject"> 
<!ENTITY % model.fullText_sequence "Table, Equation, %model.referenceElements;, BlockQuote, %model.simpleText;, %model.ListElements;, Figure, MediaObject"> 
<!ENTITY % model.fullText_sequenceOptional "Table?, Equation?, %model.referenceElements;?, BlockQuote?, %model.simpleText;?, %model.ListElements;?, Figure?, MediaObject?"> 
<!ENTITY % model.fullText_sequenceOptionalRepeatable "Table*, Equation*, %model.referenceElements;*, BlockQuote*, %model.simpleText;*, %model.ListElements;*, Figure*, MediaObject*"> 
<!ENTITY % model.fullText_sequenceRepeatable "Table+, Equation+, %model.referenceElements;+, BlockQuote+, %model.simpleText;+, %model.ListElements;+, Figure+, MediaObject+"> 
<!ENTITY % model.fullTextBlock "Para |Table |Figure |MediaObject"> 
<!ENTITY % model.fullTextBlock_sequence "Para, Table, Figure, MediaObject"> 
<!ENTITY % model.fullTextBlock_sequenceOptional "Para?, Table?, Figure?, MediaObject?"> 
<!ENTITY % model.fullTextBlock_sequenceOptionalRepeatable "Para*, Table*, Figure*, MediaObject*"> 
<!ENTITY % model.fullTextBlock_sequenceRepeatable "Para+, Table+, Figure+, MediaObject+"> 
<!-- end of predeclared classes -->

<!ENTITY % model.nameLike.agent ""> 
<!ENTITY % model.nameLike.agent_sequence ""> 
<!ENTITY % model.nameLike.agent_sequenceOptional ""> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable ""> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable ""> 
<!ENTITY % model.segLike ""> 
<!ENTITY % model.segLike_sequence ""> 
<!ENTITY % model.segLike_sequenceOptional ""> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.segLike_sequenceRepeatable ""> 
<!ENTITY % model.hiLike ""> 
<!ENTITY % model.hiLike_sequence ""> 
<!ENTITY % model.hiLike_sequenceOptional ""> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.hiLike_sequenceRepeatable ""> 
<!ENTITY % model.emphLike ""> 
<!ENTITY % model.emphLike_sequence ""> 
<!ENTITY % model.emphLike_sequenceOptional ""> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.emphLike_sequenceRepeatable ""> 
<!ENTITY % model.highlighted ""> 
<!ENTITY % model.highlighted_sequence ""> 
<!ENTITY % model.highlighted_sequenceOptional ""> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable ""> 
<!ENTITY % model.highlighted_sequenceRepeatable ""> 
<!ENTITY % model.dateLike ""> 
<!ENTITY % model.dateLike_sequence ""> 
<!ENTITY % model.dateLike_sequenceOptional ""> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.dateLike_sequenceRepeatable ""> 
<!ENTITY % model.measureLike ""> 
<!ENTITY % model.measureLike_sequence ""> 
<!ENTITY % model.measureLike_sequenceOptional ""> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.measureLike_sequenceRepeatable ""> 
<!ENTITY % model.egLike ""> 
<!ENTITY % model.egLike_sequence ""> 
<!ENTITY % model.egLike_sequenceOptional ""> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.egLike_sequenceRepeatable ""> 
<!ENTITY % model.graphicLike ""> 
<!ENTITY % model.graphicLike_sequence ""> 
<!ENTITY % model.graphicLike_sequenceOptional ""> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.graphicLike_sequenceRepeatable ""> 
<!ENTITY % model.offsetLike ""> 
<!ENTITY % model.offsetLike_sequence ""> 
<!ENTITY % model.offsetLike_sequenceOptional ""> 
<!ENTITY % model.offsetLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.offsetLike_sequenceRepeatable ""> 
<!ENTITY % model.pPart.msdesc ""> 
<!ENTITY % model.pPart.msdesc_sequence ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptional ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.msdesc_sequenceRepeatable ""> 
<!ENTITY % model.pPart.editorial ""> 
<!ENTITY % model.pPart.editorial_sequence ""> 
<!ENTITY % model.pPart.editorial_sequenceOptional ""> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable ""> 
<!ENTITY % model.pPart.transcriptional ""> 
<!ENTITY % model.pPart.transcriptional_sequence ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable ""> 
<!ENTITY % model.pPart.edit ""> 
<!ENTITY % model.pPart.edit_sequence ""> 
<!ENTITY % model.pPart.edit_sequenceOptional ""> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.edit_sequenceRepeatable ""> 
<!ENTITY % model.ptrLike ""> 
<!ENTITY % model.ptrLike_sequence ""> 
<!ENTITY % model.ptrLike_sequenceOptional ""> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.ptrLike_sequenceRepeatable ""> 
<!ENTITY % model.lPart ""> 
<!ENTITY % model.lPart_sequence ""> 
<!ENTITY % model.lPart_sequenceOptional ""> 
<!ENTITY % model.lPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lPart_sequenceRepeatable ""> 
<!ENTITY % model.global.meta ""> 
<!ENTITY % model.global.meta_sequence ""> 
<!ENTITY % model.global.meta_sequenceOptional ""> 
<!ENTITY % model.global.meta_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.meta_sequenceRepeatable ""> 
<!ENTITY % model.milestoneLike ""> 
<!ENTITY % model.milestoneLike_sequence ""> 
<!ENTITY % model.milestoneLike_sequenceOptional ""> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.milestoneLike_sequenceRepeatable ""> 
<!ENTITY % model.gLike ""> 
<!ENTITY % model.gLike_sequence ""> 
<!ENTITY % model.gLike_sequenceOptional ""> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.gLike_sequenceRepeatable ""> 
<!ENTITY % model.oddDecl ""> 
<!ENTITY % model.oddDecl_sequence ""> 
<!ENTITY % model.oddDecl_sequenceOptional ""> 
<!ENTITY % model.oddDecl_sequenceOptionalRepeatable ""> 
<!ENTITY % model.oddDecl_sequenceRepeatable ""> 
<!ENTITY % model.phrase.xml ""> 
<!ENTITY % model.phrase.xml_sequence ""> 
<!ENTITY % model.phrase.xml_sequenceOptional ""> 
<!ENTITY % model.phrase.xml_sequenceOptionalRepeatable ""> 
<!ENTITY % model.phrase.xml_sequenceRepeatable ""> 
<!ENTITY % model.specDescLike ""> 
<!ENTITY % model.specDescLike_sequence ""> 
<!ENTITY % model.specDescLike_sequenceOptional ""> 
<!ENTITY % model.specDescLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.specDescLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike ""> 
<!ENTITY % model.biblLike_sequence ""> 
<!ENTITY % model.biblLike_sequenceOptional ""> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.biblLike_sequenceRepeatable ""> 
<!ENTITY % model.labelLike ""> 
<!ENTITY % model.labelLike_sequence ""> 
<!ENTITY % model.labelLike_sequenceOptional ""> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.labelLike_sequenceRepeatable ""> 
<!ENTITY % model.listLike ""> 
<!ENTITY % model.listLike_sequence ""> 
<!ENTITY % model.listLike_sequenceOptional ""> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.listLike_sequenceRepeatable ""> 
<!ENTITY % model.noteLike ""> 
<!ENTITY % model.noteLike_sequence ""> 
<!ENTITY % model.noteLike_sequenceOptional ""> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.noteLike_sequenceRepeatable ""> 
<!ENTITY % model.lLike ""> 
<!ENTITY % model.lLike_sequence ""> 
<!ENTITY % model.lLike_sequenceOptional ""> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lLike_sequenceRepeatable ""> 
<!ENTITY % model.pLike ""> 
<!ENTITY % model.pLike_sequence ""> 
<!ENTITY % model.pLike_sequenceOptional ""> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pLike_sequenceRepeatable ""> 
<!ENTITY % model.stageLike ""> 
<!ENTITY % model.stageLike_sequence ""> 
<!ENTITY % model.stageLike_sequenceOptional ""> 
<!ENTITY % model.stageLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.stageLike_sequenceRepeatable ""> 
<!ENTITY % model.global.edit ""> 
<!ENTITY % model.global.edit_sequence ""> 
<!ENTITY % model.global.edit_sequenceOptional ""> 
<!ENTITY % model.global.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.edit_sequenceRepeatable ""> 
<!ENTITY % model.divPart ""> 
<!ENTITY % model.divPart_sequence ""> 
<!ENTITY % model.divPart_sequenceOptional ""> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divPart_sequenceRepeatable ""> 
<!ENTITY % model.placeNamePart ""> 
<!ENTITY % model.placeNamePart_sequence ""> 
<!ENTITY % model.placeNamePart_sequenceOptional ""> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeNamePart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.quoteLike ""> 
<!ENTITY % model.quoteLike_sequence ""> 
<!ENTITY % model.quoteLike_sequenceOptional ""> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.quoteLike_sequenceRepeatable ""> 
<!ENTITY % model.qLike ""> 
<!ENTITY % model.qLike_sequence ""> 
<!ENTITY % model.qLike_sequenceOptional ""> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.qLike_sequenceRepeatable ""> 
<!ENTITY % model.addressLike ""> 
<!ENTITY % model.addressLike_sequence ""> 
<!ENTITY % model.addressLike_sequenceOptional ""> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.addressLike_sequenceRepeatable ""> 
<!ENTITY % model.nameLike ""> 
<!ENTITY % model.nameLike_sequence ""> 
<!ENTITY % model.nameLike_sequenceOptional ""> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.nameLike_sequenceRepeatable ""> 
<!ENTITY % model.global ""> 
<!ENTITY % model.global_sequence ""> 
<!ENTITY % model.global_sequenceOptional ""> 
<!ENTITY % model.global_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global_sequenceRepeatable ""> 
<!ENTITY % model.pPart.data ""> 
<!ENTITY % model.pPart.data_sequence ""> 
<!ENTITY % model.pPart.data_sequenceOptional ""> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.data_sequenceRepeatable ""> 
<!ENTITY % model.inter ""> 
<!ENTITY % model.inter_sequence ""> 
<!ENTITY % model.inter_sequenceOptional ""> 
<!ENTITY % model.inter_sequenceOptionalRepeatable ""> 
<!ENTITY % model.inter_sequenceRepeatable ""> 
<!ENTITY % model.phrase ""> 
<!ENTITY % model.phrase_sequence ""> 
<!ENTITY % model.phrase_sequenceOptional ""> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable ""> 
<!ENTITY % model.phrase_sequenceRepeatable ""> 
<!ENTITY % model.limitedPhrase ""> 
<!ENTITY % model.limitedPhrase_sequence ""> 
<!ENTITY % model.limitedPhrase_sequenceOptional ""> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable ""> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable ""> 
<!ENTITY % att.TableQualifiers.attribute.colnum '
colnum CDATA #IMPLIED'>

<!ENTITY % att.TableQualifiers.attribute.colname '
colname CDATA #IMPLIED'>

<!ENTITY % att.TableQualifiers.attribute.align '
align CDATA #IMPLIED'>
<!ENTITY % att.TableQualifiers.attributes '
 %att.TableQualifiers.attribute.colnum;
 %att.TableQualifiers.attribute.colname;
 %att.TableQualifiers.attribute.align;'> 
<!ENTITY % att.OutputMedium.attribute.OutputMedium '
OutputMedium CDATA #IMPLIED'>
<!ENTITY % att.OutputMedium.attributes '
 %att.OutputMedium.attribute.OutputMedium;'> 
<!ENTITY % att.ID.attribute.ID '
ID ID #IMPLIED'>
<!ENTITY % att.ID.attributes '
 %att.ID.attribute.ID;'> 
<!ENTITY % att.language.attribute.Language '
Language CDATA #IMPLIED'>
<!ENTITY % att.language.attributes '
 %att.language.attribute.Language;'> 
<!ENTITY % att.numbered.attribute.NumberingStyle '
NumberingStyle CDATA #IMPLIED'>

<!ENTITY % att.numbered.attribute.NumberingDepth '
NumberingDepth CDATA #IMPLIED'>
<!ENTITY % att.numbered.attributes '
 %att.numbered.attribute.NumberingStyle;
 %att.numbered.attribute.NumberingDepth;'> 
<!ENTITY % att.Typed.attribute.Type '
Type CDATA #IMPLIED'>
<!ENTITY % att.Typed.attributes '
 %att.Typed.attribute.Type;'> 
<!ENTITY % att.FileChildrenQualifiers.attribute.FileRef '
FileRef CDATA #IMPLIED'>

<!ENTITY % att.FileChildrenQualifiers.attribute.TargetType '
TargetType CDATA #IMPLIED'>

<!ENTITY % att.FileChildrenQualifiers.attribute.ItemType '
ItemType CDATA #IMPLIED'>

<!ENTITY % att.FileChildrenQualifiers.attribute.Content '
Content CDATA #IMPLIED'>
<!ENTITY % att.FileChildrenQualifiers.attributes '
 %att.FileChildrenQualifiers.attribute.FileRef;
 %att.FileChildrenQualifiers.attribute.TargetType;
 %att.FileChildrenQualifiers.attribute.ItemType;
 %att.FileChildrenQualifiers.attribute.Content;'> 
<!ENTITY % model.ConferenceInfoPart "ConfSeriesName |ConfEventAbbreviation |ConfNumber |ConfEventLocation |ConfEventDateStart |ConfEventDateEnd"> 
<!ENTITY % model.ConferenceInfoPart_sequence "ConfSeriesName, ConfEventAbbreviation, ConfNumber, ConfEventLocation, ConfEventDateStart, ConfEventDateEnd"> 
<!ENTITY % model.ConferenceInfoPart_sequenceOptional "ConfSeriesName?, ConfEventAbbreviation?, ConfNumber?, ConfEventLocation?, ConfEventDateStart?, ConfEventDateEnd?"> 
<!ENTITY % model.ConferenceInfoPart_sequenceOptionalRepeatable "ConfSeriesName*, ConfEventAbbreviation*, ConfNumber*, ConfEventLocation*, ConfEventDateStart*, ConfEventDateEnd*"> 
<!ENTITY % model.ConferenceInfoPart_sequenceRepeatable "ConfSeriesName+, ConfEventAbbreviation+, ConfNumber+, ConfEventLocation+, ConfEventDateStart+, ConfEventDateEnd+"> 
<!ENTITY % model.ContactPart "Phone |Fax |Email |URL |Street |Postbox |Postcode |City |State |Country"> 
<!ENTITY % model.ContactPart_sequence "Phone, Fax, Email, URL, Street, Postbox, Postcode, City, State, Country"> 
<!ENTITY % model.ContactPart_sequenceOptional "Phone?, Fax?, Email?, URL?, Street?, Postbox?, Postcode?, City?, State?, Country?"> 
<!ENTITY % model.ContactPart_sequenceOptionalRepeatable "Phone*, Fax*, Email*, URL*, Street*, Postbox*, Postcode*, City*, State*, Country*"> 
<!ENTITY % model.ContactPart_sequenceRepeatable "Phone+, Fax+, Email+, URL+, Street+, Postbox+, Postcode+, City+, State+, Country+"> 
<!ENTITY % model.DatePart "Year |Month |Day"> 
<!ENTITY % model.DatePart_sequence "Year, Month, Day"> 
<!ENTITY % model.DatePart_sequenceOptional "Year?, Month?, Day?"> 
<!ENTITY % model.DatePart_sequenceOptionalRepeatable "Year*, Month*, Day*"> 
<!ENTITY % model.DatePart_sequenceRepeatable "Year+, Month+, Day+"> 
<!ENTITY % model.PartInfoPart "PartID |PartNumber |PartSequenceNumber |PartTitle |PartSubTitle |PartChapterCount |PartContext"> 
<!ENTITY % model.PartInfoPart_sequence "PartID, PartNumber, PartSequenceNumber, PartTitle, PartSubTitle, PartChapterCount, PartContext"> 
<!ENTITY % model.PartInfoPart_sequenceOptional "PartID?, PartNumber?, PartSequenceNumber?, PartTitle?, PartSubTitle?, PartChapterCount?, PartContext?"> 
<!ENTITY % model.PartInfoPart_sequenceOptionalRepeatable "PartID*, PartNumber*, PartSequenceNumber*, PartTitle*, PartSubTitle*, PartChapterCount*, PartContext*"> 
<!ENTITY % model.PartInfoPart_sequenceRepeatable "PartID+, PartNumber+, PartSequenceNumber+, PartTitle+, PartSubTitle+, PartChapterCount+, PartContext+"> 
<!ENTITY % model.NamePart "GivenName |NoGivenName |Initials |NoInitials |Particle |FamilyName |Suffix |Prefix |Degrees |NativeName"> 
<!ENTITY % model.NamePart_sequence "GivenName, NoGivenName, Initials, NoInitials, Particle, FamilyName, Suffix, Prefix, Degrees, NativeName"> 
<!ENTITY % model.NamePart_sequenceOptional "GivenName?, NoGivenName?, Initials?, NoInitials?, Particle?, FamilyName?, Suffix?, Prefix?, Degrees?, NativeName?"> 
<!ENTITY % model.NamePart_sequenceOptionalRepeatable "GivenName*, NoGivenName*, Initials*, NoInitials*, Particle*, FamilyName*, Suffix*, Prefix*, Degrees*, NativeName*"> 
<!ENTITY % model.NamePart_sequenceRepeatable "GivenName+, NoGivenName+, Initials+, NoInitials+, Particle+, FamilyName+, Suffix+, Prefix+, Degrees+, NativeName+"> 
<!ENTITY % model.referenceElements "ExternalRef |InternalRef |CitationRef"> 
<!ENTITY % model.referenceElements_sequence "ExternalRef, InternalRef, CitationRef"> 
<!ENTITY % model.referenceElements_sequenceOptional "ExternalRef?, InternalRef?, CitationRef?"> 
<!ENTITY % model.referenceElements_sequenceOptionalRepeatable "ExternalRef*, InternalRef*, CitationRef*"> 
<!ENTITY % model.referenceElements_sequenceRepeatable "ExternalRef+, InternalRef+, CitationRef+"> 
<!ENTITY % model.verySimpleText "Superscript |Subscript |Stack |Emphasis"> 
<!ENTITY % model.verySimpleText_sequence "Superscript, Subscript, Stack, Emphasis"> 
<!ENTITY % model.verySimpleText_sequenceOptional "Superscript?, Subscript?, Stack?, Emphasis?"> 
<!ENTITY % model.verySimpleText_sequenceOptionalRepeatable "Superscript*, Subscript*, Stack*, Emphasis*"> 
<!ENTITY % model.verySimpleText_sequenceRepeatable "Superscript+, Subscript+, Stack+, Emphasis+"> 
<!ENTITY % model.simpleText "InlineEquation |%model.verySimpleText; |Literal |Footnote |Sidebar |InlineMediaObject"> 
<!ENTITY % model.simpleText_sequence "InlineEquation, %model.verySimpleText;, Literal, Footnote, Sidebar, InlineMediaObject"> 
<!ENTITY % model.simpleText_sequenceOptional "InlineEquation?, %model.verySimpleText;?, Literal?, Footnote?, Sidebar?, InlineMediaObject?"> 
<!ENTITY % model.simpleText_sequenceOptionalRepeatable "InlineEquation*, %model.verySimpleText;*, Literal*, Footnote*, Sidebar*, InlineMediaObject*"> 
<!ENTITY % model.simpleText_sequenceRepeatable "InlineEquation+, %model.verySimpleText;+, Literal+, Footnote+, Sidebar+, InlineMediaObject+"> 
<!ENTITY % model.ListElements "OrderedList |UnorderedList |DefinitionList"> 
<!ENTITY % model.ListElements_sequence "OrderedList, UnorderedList, DefinitionList"> 
<!ENTITY % model.ListElements_sequenceOptional "OrderedList?, UnorderedList?, DefinitionList?"> 
<!ENTITY % model.ListElements_sequenceOptionalRepeatable "OrderedList*, UnorderedList*, DefinitionList*"> 
<!ENTITY % model.ListElements_sequenceRepeatable "OrderedList+, UnorderedList+, DefinitionList+"> 
<!ENTITY % model.fullText "Table |Equation |%model.referenceElements; |BlockQuote |%model.simpleText; |%model.ListElements; |Figure |MediaObject"> 
<!ENTITY % model.fullText_sequence "Table, Equation, %model.referenceElements;, BlockQuote, %model.simpleText;, %model.ListElements;, Figure, MediaObject"> 
<!ENTITY % model.fullText_sequenceOptional "Table?, Equation?, %model.referenceElements;?, BlockQuote?, %model.simpleText;?, %model.ListElements;?, Figure?, MediaObject?"> 
<!ENTITY % model.fullText_sequenceOptionalRepeatable "Table*, Equation*, %model.referenceElements;*, BlockQuote*, %model.simpleText;*, %model.ListElements;*, Figure*, MediaObject*"> 
<!ENTITY % model.fullText_sequenceRepeatable "Table+, Equation+, %model.referenceElements;+, BlockQuote+, %model.simpleText;+, %model.ListElements;+, Figure+, MediaObject+"> 
<!ENTITY % model.fullTextBlock "Para |Table |Figure |MediaObject"> 
<!ENTITY % model.fullTextBlock_sequence "Para, Table, Figure, MediaObject"> 
<!ENTITY % model.fullTextBlock_sequenceOptional "Para?, Table?, Figure?, MediaObject?"> 
<!ENTITY % model.fullTextBlock_sequenceOptionalRepeatable "Para*, Table*, Figure*, MediaObject*"> 
<!ENTITY % model.fullTextBlock_sequenceRepeatable "Para+, Table+, Figure+, MediaObject+"> 
<!ENTITY % att.DisplayOrder.attribute.DisplayOrder '
DisplayOrder (Western|Eastern) #IMPLIED'>
<!ENTITY % att.DisplayOrder.attributes '
 %att.DisplayOrder.attribute.DisplayOrder;'> 
<!-- start rest of patterns -->

<!ENTITY % macro.anyXML ' ANY' >

<!ENTITY % macro.SimpleTextModel '(#PCDATA|%model.simpleText;)*' >

<!ENTITY % macro.FullTextModel '(#PCDATA|%model.fullText;)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc: -->
<!ELEMENT APageFile EMPTY>
<!ATTLIST APageFile
 %att.FileChildrenQualifiers.attributes;
 %att.Typed.attributes;
Position CDATA #IMPLIED
FirstPage CDATA #IMPLIED
LastPage CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Abstract (Heading?,Para*)>
<!ATTLIST Abstract
 %att.language.attributes;
 %att.ID.attributes;
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT Acknowledgments ((Heading)?,(SimplePara)*)>
<!--doc: -->
<!ELEMENT Affiliation (OrgDivision|OrgName|OrgAddress)+>
<!ATTLIST Affiliation
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT AplusplusRootFile EMPTY>
<!ATTLIST AplusplusRootFile
 %att.FileChildrenQualifiers.attributes; >
<!--doc: -->
<!ELEMENT Archive EMPTY>
<!ATTLIST Archive
 %att.FileChildrenQualifiers.attributes; >
<!--doc: -->
<!ELEMENT ArticleNote (Heading?,SimplePara+)>
<!ATTLIST ArticleNote
 %att.Typed.attributes; >
<!--doc: -->
<!ELEMENT ArticleTitle %macro.SimpleTextModel;>
<!ATTLIST ArticleTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT Author (AuthorName,Contact?)>
<!ATTLIST Author
AffiliationIDS CDATA #IMPLIED
CorrespondingAffiliationID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT AuthorGroup (Author+,Affiliation*)>
<!--doc: -->
<!ELEMENT AuthorName (%model.NamePart;)+>
<!ATTLIST AuthorName
 %att.DisplayOrder.attributes; >
<!--doc: -->
<!ELEMENT BibArticle (Etal|BibAuthorName|InstitutionalAuthorName|Year|ArticleTitle|JournalTitle|PublisherName|PublisherLocation|SeriesTitle|BibEditorName|ConfEventName|ConfEventLocation|ConfEventDate|NumberInSeries|FirstPage|LastPage|VolumeID|IssueID|BibComments|Eds|BibArticleDOI|NoArticleTitle)*>
<!--doc: -->
<!ELEMENT BibArticleDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT BibAuthorName (%model.NamePart;)*>
<!--doc: -->
<!ELEMENT BibBook (BibAuthorName|InstitutionalAuthorName|Etal|Year|ChapterTitle|ChapterSubTitle|BookTitle|PublisherName|PublisherLocation|SeriesTitle|BibEditorName|ConfEventName|ConfEventLocation|ConfEventDate|NumberInSeries|FirstPage|LastPage|BibComments|Eds|EditionNumber|InstitutionalAuthorName|BibBookDOI)*>
<!--doc: -->
<!ELEMENT BibBookDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT BibChapter (BibAuthorName|InstitutionalAuthorName|Etal|Year|ChapterTitle|ChapterSubTitle|BookTitle|PublisherName|PublisherLocation|SeriesTitle|BibEditorName|ConfEventName|ConfEventLocation|ConfEventDate|NumberInSeries|FirstPage|LastPage|BibComments|Eds|EditionNumber|NoChapterTitle|BibChapterDOI|BibBookDOI)*>
<!--doc: -->
<!ELEMENT BibChapterDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT BibComments  (#PCDATA)>
<!--doc: -->
<!ELEMENT BibEditorName (%model.NamePart;)*>
<!--doc: -->
<!ELEMENT BibUnstructured (#PCDATA|%model.simpleText;|ExternalRef)*>
<!--doc: -->
<!ELEMENT Bibliography (Heading?,Citation*)>
<!ATTLIST Bibliography
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT Binding  (#PCDATA)>
<!ATTLIST Binding
 %att.Typed.attributes;
EndsheetsPaper CDATA #IMPLIED
BookBackType CDATA #IMPLIED
BookmarkRibbonCount CDATA #IMPLIED
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT BlockQuote ((Heading)?,(%model.fullTextBlock;)*)>
<!--doc: -->
<!ELEMENT Body ((%model.fullTextBlock;)*,(Section1)*)>
<!--doc: -->
<!ELEMENT BodyFrontmatter ((Frontispiece)?,(Dedication)?,(Foreword)*,(Preface)*,(BookNotes)?,(Toc)?)>
<!--doc: -->
<!ELEMENT BodyRef EMPTY>
<!ATTLIST BodyRef
FileRef CDATA #IMPLIED
TargetType CDATA #IMPLIED
PDFType CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Book (BookInfo,Cover?,BookHeader?,(NoBody|(BodyRef*,BookFrontmatter?,(Part+|Chapter+)?)|BookOnlineFirst))>
<!ATTLIST Book
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT BookBackmatterDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookBackmatterFirstPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookBackmatterInfo ((BookBackmatterDOI)?,BookBackmatterFirstPage,BookBackmatterLastPage)>
<!--doc: -->
<!ELEMENT BookBackmatterLastPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookChapterCount  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookClassification (CharacteristicValue|ClassificationGroup)+>
<!--doc: -->
<!ELEMENT BookContext ((SeriesID)?,(SubSeriesID)?,(BookSetID,BookSetTitle)*,(VolumePackageID)?)>
<!--doc: -->
<!ELEMENT BookCopyright (CopyrightHolderName|CopyrightYear|SpringerReferenceLine|SpringerLocationsLine|CopyrightStandardText|TrademarkQualifierText|ProductLiability)+>
<!--doc: -->
<!ELEMENT BookDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookEdition  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookElectronicISBN  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookFrontmatter ((BookFrontmatterInfo)?,(BookFrontmatterHeader)?,(NoBody|BodyRef+|(BodyFrontmatter,BodyRef*)))>
<!ATTLIST BookFrontmatter
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT BookFrontmatterDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookFrontmatterFirstPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookFrontmatterHeader (PageHeaders)?>
<!--doc: -->
<!ELEMENT BookFrontmatterInfo ((BookFrontmatterDOI)?,(BookFrontmatterHeader)?,BookFrontmatterFirstPage,BookFrontmatterLastPage)>
<!--doc: -->
<!ELEMENT BookFrontmatterLastPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookHeader (EditorGroup)>
<!--doc: -->
<!ELEMENT BookID  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookInfo ((IFIPentity)*,(BookID|BookTitle|BookSubTitle|BookVolumeNumber|BookSequenceNumber|BookDOI|BookTitleID|BookPrintISBN|BookElectronicISBN|BookChapterCount|BookCopyright|BookContext|ConferenceInfo|EditionNumber|BookEdition|PaperInfo|BookSubjectGroup|BookstoreLocation|CatalogingInformation|BookClassification)+)>
<!ATTLIST BookInfo
 %att.language.attributes;
 %att.numbered.attributes;
 %att.OutputMedium.attributes;
BookProductType CDATA #IMPLIED
TocLevels CDATA #IMPLIED
ContainsESM CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT BookJobSheet (PublisherInfo,SeriesInfo,SeriesHeader,BookInfo,EditorGroup,ProductionInfo)>
<!--doc: -->
<!ELEMENT BookMultiVolumeCount  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookNotes (BookNotesTitle,(AuthorGroup)?,Body)>
<!--doc: -->
<!ELEMENT BookNotesTitle %macro.SimpleTextModel;>
<!ATTLIST BookNotesTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT BookOnlineFirst (Part+|Chapter+)>
<!--doc: -->
<!ELEMENT BookPrintISBN  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookSequenceNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookSetID  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookSetTitle  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookSubTitle  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookSubject  (#PCDATA)>
<!ATTLIST BookSubject
 %att.Typed.attributes;
Code CDATA #IMPLIED
Priority CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT BookSubjectGroup (BookSubject)*>
<!--doc: -->
<!ELEMENT BookTitle  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookTitleID  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookVolumeNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookstoreLocation  (#PCDATA)>
<!--doc: -->
<!ELEMENT Caption ((CaptionNumber)?,CaptionContent)>
<!ATTLIST Caption
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT CaptionContent (SimplePara)+>
<!--doc: -->
<!ELEMENT CaptionNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT CatalogingInformation (#PCDATA|%model.verySimpleText;|InlineEquation)*>
<!ATTLIST CatalogingInformation
Library CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Chapter (ChapterInfo,ChapterHeader,(NoBody|Body),BodyRef?,ChapterBackmatter?)>
<!ATTLIST Chapter
 %att.language.attributes;
 %att.ID.attributes;
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT ChapterBackmatter ((Acknowledgments)?,(Bibliography)?)>
<!--doc: -->
<!ELEMENT ChapterCategory  (#PCDATA)>
<!--doc: -->
<!ELEMENT ChapterContext (SeriesID|BookID|BookTitle|PartID)*>
<!--doc: -->
<!ELEMENT ChapterCopyright (CopyrightHolderName,CopyrightYear)>
<!--doc: -->
<!ELEMENT ChapterDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT ChapterFirstPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT ChapterHeader (AuthorGroup?,Abstract*,KeywordGroup*,ArticleNote*)>
<!--doc: -->
<!ELEMENT ChapterHistory (RegistrationDate|OnlineDate)+>
<!--doc: -->
<!ELEMENT ChapterID  (#PCDATA)>
<!--doc: -->
<!ELEMENT ChapterInfo ((IFIPentity)*,(ChapterID|ChapterDOI|ChapterSequenceNumber|ChapterTitle|ChapterSubTitle|ChapterFirstPage|ChapterLastPage|ChapterCopyright|ChapterContext|ChapterHistory|ChapterRelatedObject|ChapterCategory)+)>
<!ATTLIST ChapterInfo
 %att.numbered.attributes;
 %att.OutputMedium.attributes;
 %att.language.attributes;
ChapterType CDATA #IMPLIED
TocLevels CDATA #IMPLIED
ContainsESM CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT ChapterLastPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT ChapterRelatedObject (RelatedObjectDOI)>
<!ATTLIST ChapterRelatedObject
RelatedObjectType CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT ChapterSequenceNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT ChapterSubTitle %macro.SimpleTextModel;>
<!ATTLIST ChapterSubTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT ChapterTitle %macro.SimpleTextModel;>
<!ATTLIST ChapterTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT CharacteristicValue %macro.SimpleTextModel;>
<!ATTLIST CharacteristicValue
Characteristic CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT Citation (CitationNumber?,(BibUnstructured|BibChapter|BibArticle|BibBook)*)>
<!ATTLIST Citation
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT CitationNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT CitationRef  (#PCDATA)>
<!ATTLIST CitationRef
CitationID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT City  (#PCDATA)>
<!--doc: -->
<!ELEMENT ClassificationGroup (CharacteristicValue)+>
<!--doc: -->
<!ELEMENT CoPublisher  (#PCDATA)>
<!--doc: -->
<!ELEMENT Collaborator (CollaboratorName,Contact?)>
<!ATTLIST Collaborator
 %att.Typed.attributes;
AffiliationIDS CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT CollaboratorGroup (Collaborator+,Affiliation*)>
<!--doc: -->
<!ELEMENT CollaboratorName (%model.NamePart;)+>
<!ATTLIST CollaboratorName
 %att.DisplayOrder.attributes; >
<!--doc: -->
<!ELEMENT ColorImagesInPrint  (#PCDATA)>
<!--doc: -->
<!ELEMENT ColorImagesOnPage  (#PCDATA)>
<!ATTLIST ColorImagesOnPage
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT ColorSpecifications (LayoutColorName|PrintingColorName)*>
<!ATTLIST ColorSpecifications
CompoundObjectID CDATA #IMPLIED
LayoutColorCount CDATA #IMPLIED
PrintingColorCount CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT CompanyName  (#PCDATA)>
<!--doc: -->
<!ELEMENT CompoundBookObjectInfo %macro.anyXML;>
<!ATTLIST CompoundBookObjectInfo
 %att.ID.attributes;
 %att.Typed.attributes;
SeriesID CDATA #IMPLIED
MediaType CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT CompoundObjectNumberOfArabicPages  (#PCDATA)>
<!--doc: -->
<!ELEMENT CompoundObjectNumberOfColorPages  (#PCDATA)>
<!ATTLIST CompoundObjectNumberOfColorPages
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT CompoundObjectNumberOfImages  (#PCDATA)>
<!ATTLIST CompoundObjectNumberOfImages
Illustrations CDATA #IMPLIED
PrintImagesColor CDATA #IMPLIED
PrintImagesBlackWhite CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT CompoundObjectNumberOfRomanPages  (#PCDATA)>
<!--doc: -->
<!ELEMENT CompoundObjectTechnicalInfo %macro.anyXML;>
<!--doc: -->
<!ELEMENT CompoundObjectTotalNumberOfPages  (#PCDATA)>
<!ATTLIST CompoundObjectTotalNumberOfPages
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT ConfEventAbbreviation  (#PCDATA)>
<!--doc: -->
<!ELEMENT ConfEventDate  (#PCDATA)>
<!--doc: -->
<!ELEMENT ConfEventDateEnd (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT ConfEventDateStart (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT ConfEventLocation (#PCDATA|City|Country)*>
<!--doc: -->
<!ELEMENT ConfEventName  (#PCDATA)>
<!--doc: -->
<!ELEMENT ConfNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT ConfSeriesName  (#PCDATA)>
<!ATTLIST ConfSeriesName
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT ConferenceInfo (%model.ConferenceInfoPart;)+>
<!--doc: -->
<!ELEMENT Contact (%model.ContactPart;)+>
<!--doc: -->
<!ELEMENT ContactPerson (ContactPersonName|Contact)*>
<!--doc: -->
<!ELEMENT ContactPersonName (%model.NamePart;)+>
<!--doc: -->
<!ELEMENT ContentFiles %macro.anyXML;>
<!--doc: -->
<!ELEMENT CopyEditing EMPTY>
<!ATTLIST CopyEditing
Category CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT CopyrightHolderName  (#PCDATA)>
<!--doc: -->
<!ELEMENT CopyrightStandardText  (#PCDATA)>
<!ATTLIST CopyrightStandardText
 %att.language.attributes;
Country CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT CopyrightYear  (#PCDATA)>
<!--doc: -->
<!ELEMENT Country  (#PCDATA)>
<!--doc: -->
<!ELEMENT Cover (CoverInfo,(CoverFigure)?,(BodyRef)*)>
<!ATTLIST Cover
Type CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT CoverFigure (MediaObject)>
<!--doc: -->
<!ELEMENT CoverFirstPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT CoverInfo (CoverFirstPage,CoverLastPage)>
<!--doc: -->
<!ELEMENT CoverLastPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT CoverProductionInfo (SpineWidth)?>
<!ATTLIST CoverProductionInfo
Style CDATA #IMPLIED
PaperStock CDATA #IMPLIED
Printing CDATA #IMPLIED
Stamping CDATA #IMPLIED
BinderBoards CDATA #IMPLIED
Finishing CDATA #IMPLIED
ChangingImages CDATA #IMPLIED
Creases CDATA #IMPLIED
CoverExteriorColorCount CDATA #IMPLIED
CoverInteriorColorCount CDATA #IMPLIED
Dustjacket CDATA #IMPLIED
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Day  (#PCDATA)>
<!--doc: -->
<!ELEMENT Deadline %macro.anyXML;>
<!--doc: -->
<!ELEMENT Dedication ((Heading)?,(SimplePara)+)>
<!--doc: -->
<!ELEMENT DefinitionList ((Heading)?,(DefinitionListEntry)+)>
<!--doc: -->
<!ELEMENT DefinitionListEntry (Term,Description)>
<!--doc: -->
<!ELEMENT Degrees  (#PCDATA)>
<!--doc: -->
<!ELEMENT Deliverables (DeliverablesForCompoundBookObjects)?>
<!--doc: -->
<!ELEMENT DeliverablesForCompoundBookObjects EMPTY>
<!ATTLIST DeliverablesForCompoundBookObjects
BackmatterElectronicPDF CDATA #IMPLIED
BackmatterXML CDATA #IMPLIED
BookDeltaPDF CDATA #IMPLIED
BookElectronicPDF CDATA #IMPLIED
BookEpsilonPDF CDATA #IMPLIED
BookPrintPDF CDATA #IMPLIED
BookProofFeedbackPDF CDATA #IMPLIED
ChapterElectronicPDF CDATA #IMPLIED
ChapterOnlineMediaObjects CDATA #IMPLIED
ChapterPrintMediaObjects CDATA #IMPLIED
ChapterTEX CDATA #IMPLIED
ChapterXMLWithBody CDATA #IMPLIED
ChapterXMLWithBodyRefsOnly CDATA #IMPLIED
CoverFigure CDATA #IMPLIED
CoverPrintPDF CDATA #IMPLIED
DustJacketPDF CDATA #IMPLIED
FrontmatterElectronicPDF CDATA #IMPLIED
FrontmatterXML CDATA #IMPLIED
Manuscript CDATA #IMPLIED
PartBackmatterElectronicPDF CDATA #IMPLIED
PartBackmatterManuscripts CDATA #IMPLIED
PartBackmatterXML CDATA #IMPLIED
PartFrontmatterElectronicPDF CDATA #IMPLIED
PartFrontmatterManuscripts CDATA #IMPLIED
PartFrontmatterXML CDATA #IMPLIED
Pit-Stop-Reports CDATA #IMPLIED
TocElectronicPDF CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Description (Para)+>
<!--doc: -->
<!ELEMENT DiscreteBookObjectInfo %macro.anyXML;>
<!ATTLIST DiscreteBookObjectInfo
 %att.ID.attributes;
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT DiscreteObjectTechnicalInfo (ProductionClassification)?>
<!ATTLIST DiscreteObjectTechnicalInfo
ContainsColorImages CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT EAN  (#PCDATA)>
<!--doc: -->
<!ELEMENT EditionNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT Editor (EditorName,Contact?)>
<!ATTLIST Editor
AffiliationIDS CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT EditorGroup (Editor+,Affiliation*)>
<!--doc: -->
<!ELEMENT EditorName (%model.NamePart;)*>
<!ATTLIST EditorName
 %att.DisplayOrder.attributes; >
<!--doc: -->
<!ELEMENT EditorialInfo (PublishingSegment)*>
<!--doc: -->
<!ELEMENT EditorialManuscriptNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT Eds EMPTY>
<!--doc: -->
<!ELEMENT ElectronicDelivery EMPTY>
<!ATTLIST ElectronicDelivery
Delivery (Complete|Incomplete|None) #REQUIRED >
<!--doc: -->
<!ELEMENT Email  (#PCDATA)>
<!--doc: -->
<!ELEMENT Emphasis  (#PCDATA)>
<!ATTLIST Emphasis
 %att.Typed.attributes;
FontCategory CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Equation ((EquationNumber)?,(MediaObject,EquationSource)+)>
<!ATTLIST Equation
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT EquationNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT EquationSource  (#PCDATA)>
<!ATTLIST EquationSource
Format (TEX|MATHML|MATHTYPE|XML) #IMPLIED
NOTATION (TEX|MATHML|MATHTYPE|XML) #IMPLIED >
<!--doc: -->
<!ELEMENT Etal EMPTY>
<!--doc: -->
<!ELEMENT ExternalRef (RefSource,RefTarget+)>
<!ATTLIST ExternalRef
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT FamilyName  (#PCDATA)>
<!--doc: -->
<!ELEMENT Fax  (#PCDATA)>
<!--doc: -->
<!ELEMENT Figure ((Caption)*,(MediaObject)+)>
<!ATTLIST Figure
 %att.ID.attributes;
Float (Yes|No) #REQUIRED
Category (Schema|Structure|Standard|Logo) #REQUIRED >
<!--doc: -->
<!ELEMENT File %macro.anyXML;>
<!ATTLIST File
DiscreteObjectID CDATA #IMPLIED
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT FilesToPublisher %macro.anyXML;>
<!--doc: -->
<!ELEMENT FilesToSupplier %macro.anyXML;>
<!--doc: -->
<!ELEMENT FirstPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT Footnote (Para)*>
<!ATTLIST Footnote
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT Foreword (ForewordInfo,(AuthorGroup)?,Body)>
<!--doc: -->
<!ELEMENT ForewordDate  (#PCDATA)>
<!--doc: -->
<!ELEMENT ForewordInfo (ForewordTitle,(ForewordDate)?,(ForewordLocation)*)>
<!--doc: -->
<!ELEMENT ForewordLocation  (#PCDATA)>
<!--doc: -->
<!ELEMENT ForewordTitle %macro.SimpleTextModel;>
<!ATTLIST ForewordTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT FormatTrimSize  (#PCDATA)>
<!ATTLIST FormatTrimSize
CompoundObjectID CDATA #IMPLIED
TrimHeightMm CDATA #IMPLIED
TrimWidthMm CDATA #IMPLIED
TrimHeightInch CDATA #IMPLIED
TrimWidthInch CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Frontispiece (Figure)>
<!--doc: -->
<!ELEMENT FullServiceVendor %macro.anyXML;>
<!--doc: -->
<!ELEMENT GivenName  (#PCDATA)>
<!--doc: -->
<!ELEMENT Heading  (#PCDATA)>
<!--doc:groups together all IFIP specific descriptors (TC, SC, etc.) -->
<!ELEMENT IFIPentity (TC|WG|SIG)*>
<!ATTLIST IFIPentity
subline (StateoftheArtSurvey|Survey|Tutorial|Festschrift) #IMPLIED >
<!--doc: -->
<!ELEMENT ISBN  (#PCDATA)>
<!--doc: -->
<!ELEMENT ImageObject (Caption)*>
<!ATTLIST ImageObject
FileRef CDATA #REQUIRED
Format (GIF|TIFF|EPS|JPEG|PNG|SVG) #REQUIRED
Color (Color|BlackWhite) #REQUIRED
Type (Linedraw|Halftone|LinedrawHalftone) #IMPLIED
Rendition (Print|HTML|ProofPDF|Preview) #IMPLIED >
<!--doc: -->
<!ELEMENT Initials  (#PCDATA)>
<!--doc: -->
<!ELEMENT InlineEquation (InlineMediaObject|EquationSource)+>
<!ATTLIST InlineEquation
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT InlineMediaObject (ImageObject)+>
<!--doc: -->
<!ELEMENT InstitutionalAuthorName (%model.NamePart;)*>
<!--doc: -->
<!ELEMENT InternalRef (RefSource,RefTarget+)>
<!ATTLIST InternalRef
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT IssueID  (#PCDATA)>
<!--doc: -->
<!ELEMENT ItemContent (Para)+>
<!--doc: -->
<!ELEMENT ItemNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT JobSheet (BookJobSheet)+>
<!ATTLIST JobSheet
Version CDATA #IMPLIED
ObjectID CDATA #IMPLIED
JobSheetDate CDATA #IMPLIED
Supplier CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT JournalTitle  (#PCDATA)>
<!--doc: -->
<!ELEMENT Keyword %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT KeywordGroup (Heading?,Keyword+)>
<!ATTLIST KeywordGroup
 %att.language.attributes;
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT LastPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT LayoutColorName  (#PCDATA)>
<!--doc: -->
<!ELEMENT ListItem (ItemNumber,ItemContent)>
<!--doc: -->
<!ELEMENT Literal (#PCDATA|Emphasis)*>
<!--doc: -->
<!ELEMENT ManuscriptInfo %macro.anyXML;>
<!--doc: -->
<!ELEMENT ManuscriptNumberOfGraphics  (#PCDATA)>
<!--doc: -->
<!ELEMENT ManuscriptNumberOfPages  (#PCDATA)>
<!--doc: -->
<!ELEMENT ManuscriptNumberOfTables  (#PCDATA)>
<!--doc: -->
<!ELEMENT MediaObject ((Caption)?,(ImageObject)+)>
<!ATTLIST MediaObject
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT Month  (#PCDATA)>
<!--doc: -->
<!ELEMENT NativeName  (#PCDATA)>
<!--doc: -->
<!ELEMENT NoArticleTitle EMPTY>
<!--doc: -->
<!ELEMENT NoBody  (#PCDATA)>
<!--doc: -->
<!ELEMENT NoChapterTitle EMPTY>
<!--doc: -->
<!ELEMENT NoFiles EMPTY>
<!--doc: -->
<!ELEMENT NoGivenName EMPTY>
<!--doc: -->
<!ELEMENT NoInitials EMPTY>
<!--doc: -->
<!ELEMENT NumberInSeries  (#PCDATA)>
<!--doc: -->
<!ELEMENT OnlineDate (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT OpeningFigure ((Caption)*,(MediaObject)+)>
<!ATTLIST OpeningFigure
 %att.ID.attributes;
Float CDATA #REQUIRED
Category CDATA  #REQUIRED >
<!--doc: -->
<!ELEMENT OpeningHeader %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT OrderedList ((Heading)?,(ListItem)+)>
<!--doc: -->
<!ELEMENT OrgAddress (%model.ContactPart;)+>
<!--doc: -->
<!ELEMENT OrgDivision  (#PCDATA)>
<!--doc: -->
<!ELEMENT OrgName  (#PCDATA)>
<!--doc: -->
<!ELEMENT PageHeaders ((OpeningHeader)?,(OpeningFigure)?,(RunningTitle)+,(RunningAuthor)?)>
<!--doc: -->
<!ELEMENT PaperInfo  (#PCDATA)>
<!ATTLIST PaperInfo
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT Para %macro.FullTextModel;>
<!--doc: -->
<!ELEMENT Part (PartInfo,(BookFrontmatter)?,(BodyRef)*,(SubPart)*,(Chapter)*,(BookFrontmatter)?)>
<!ATTLIST Part
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT PartChapterCount  (#PCDATA)>
<!--doc: -->
<!ELEMENT PartContext (SeriesID?,SubSeriesID?,(BookSetID,BookSetTitle)*,VolumePackageID?,BookID?,BookTitle?)>
<!--doc: -->
<!ELEMENT PartID  (#PCDATA)>
<!--doc: -->
<!ELEMENT PartInfo (%model.PartInfoPart;)+>
<!ATTLIST PartInfo
 %att.OutputMedium.attributes;
TocLevels CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT PartInfoGroup %macro.anyXML;>
<!--doc: -->
<!ELEMENT PartNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT PartSequenceNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT PartSubTitle %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT PartTitle %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT Particle  (#PCDATA)>
<!--doc: -->
<!ELEMENT PeerReviewSystem  (#PCDATA)>
<!--doc: -->
<!ELEMENT Phone  (#PCDATA)>
<!--doc: -->
<!ELEMENT PlannedPublicationDate (%model.DatePart;)+>
<!ATTLIST PlannedPublicationDate
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT PostalDelivery EMPTY>
<!ATTLIST PostalDelivery
Delivery (Complete|Incomplete|None) #REQUIRED >
<!--doc: -->
<!ELEMENT Postbox  (#PCDATA)>
<!--doc: -->
<!ELEMENT Postcode  (#PCDATA)>
<!--doc: -->
<!ELEMENT Preface (PrefaceInfo,(AuthorGroup)?,Body)>
<!--doc: -->
<!ELEMENT PrefaceDate  (#PCDATA)>
<!--doc: -->
<!ELEMENT PrefaceInfo (PrefaceTitle,(PrefaceDate)?,(PrefaceLocation)*)>
<!--doc: -->
<!ELEMENT PrefaceLocation  (#PCDATA)>
<!--doc: -->
<!ELEMENT PrefaceTitle %macro.SimpleTextModel;>
<!ATTLIST PrefaceTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT Prefix  (#PCDATA)>
<!--doc: -->
<!ELEMENT PrintRun EMPTY>
<!ATTLIST PrintRun
CompoundObjectID CDATA #IMPLIED
Total CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT PrintingColorName  (#PCDATA)>
<!--doc: -->
<!ELEMENT Priority EMPTY>
<!ATTLIST Priority
Level CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT ProductLiability  (#PCDATA)>
<!ATTLIST ProductLiability
 %att.language.attributes;
Country CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT ProductionClassification EMPTY>
<!ATTLIST ProductionClassification
 %att.Typed.attributes; >
<!--doc: -->
<!ELEMENT ProductionEditor (ProductionEditorName,Contact)>
<!--doc: -->
<!ELEMENT ProductionEditorName (%model.NamePart;)+>
<!--doc: -->
<!ELEMENT ProductionInfo %macro.anyXML;>
<!--doc: -->
<!ELEMENT ProofInfo (ProofRecipient)*>
<!ATTLIST ProofInfo
ProofStage CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT ProofRecipient %macro.anyXML;>
<!ATTLIST ProofRecipient
ProofType CDATA #IMPLIED
CorrectionsRequired CDATA #IMPLIED >
<!--doc:groups together all the Springer metadata associated to a book related publication (book or book chapter) -->
<!ELEMENT Publisher (PublisherInfo,Series)>
<!--doc: -->
<!ELEMENT PublisherImprintName  (#PCDATA)>
<!--doc:basic publisher identification -->
<!ELEMENT PublisherInfo (PublisherName|PublisherLocation|PublisherImprintName|PublisherURL|PublisherLogo|CoPublisher)*>
<!--doc:groups together all the Springer metadata associated to a book related publication (book or book chapter) -->
<!ELEMENT PublisherLocation  (#PCDATA)>
<!--doc: -->
<!ELEMENT PublisherLogo (Figure)>
<!--doc:name of the publisher -->
<!ELEMENT PublisherName  (#PCDATA)>
<!ATTLIST PublisherName
 %att.DisplayOrder.attributes; >
<!--doc: -->
<!ELEMENT PublisherURL  (#PCDATA)>
<!--doc: -->
<!ELEMENT PublishingSegment  (#PCDATA)>
<!--doc: -->
<!ELEMENT PurchaseOrderNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotes %macro.anyXML;>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesAds  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesCdDvdEsm  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesColorFigures  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesComplimentaryCopies  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesCopyEditing  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesFrontmatter  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesIndex  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesLayout  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesManuscriptMaterial  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesMiscellaneous  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesProductionClassification  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesProof  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesSpringerDotCom  (#PCDATA)>
<!--doc: -->
<!ELEMENT RefSource %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT RefTarget  (#PCDATA)>
<!ATTLIST RefTarget
TargetType CDATA #IMPLIED
Address CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT RegistrationDate (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT RelatedObjectDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT RemarkByEditor  (#PCDATA)>
<!--doc: -->
<!ELEMENT RenditionItem EMPTY>
<!ATTLIST RenditionItem
 %att.FileChildrenQualifiers.attributes;
colorProfile CDATA #IMPLIED
grayscaleProfile CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT RunningAuthor  (#PCDATA)>
<!--doc: -->
<!ELEMENT RunningTitle %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT S200TypesetterDeadline (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT S300TypesetterDeadline (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT S50TypesetterDeadline (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT S600TypesetterDeadline (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT S650TypesetterDeadline (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT S700PrinterDeadline (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT S800PrintDistributionDeadline (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT S900ElectronicDistributionDeadline (%model.DatePart;)+>
<!--doc:provides a SIG number -->
<!ELEMENT SIG  (#PCDATA)>
<!--doc: -->
<!ELEMENT SPACEInfo EMPTY>
<!ATTLIST SPACEInfo
PublicationObjectID CDATA #IMPLIED
SupplierSPACEID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Section1 (Heading,(AuthorGroup)?,(%model.fullTextBlock;)*,(Section2)*)>
<!ATTLIST Section1
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT Section2 (Heading,(AuthorGroup)?,(%model.fullTextBlock;)*,(Section3)*)>
<!ATTLIST Section2
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT Section3 (Heading,(AuthorGroup)?,(%model.fullTextBlock;)*)>
<!ATTLIST Section3
 %att.ID.attributes; >
<!--doc:groups together all the Springer metadata associated to a book related publication (book or book chapter) -->
<!ELEMENT Series (SeriesInfo,(SeriesHeader?,(Book|SubSeries)*))>
<!--doc: -->
<!ELEMENT SeriesAbbreviatedTitle  (#PCDATA)>
<!ATTLIST SeriesAbbreviatedTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT SeriesElectronicISSN  (#PCDATA)>
<!--doc: -->
<!ELEMENT SeriesHeader ((AuthorGroup)?,(EditorGroup)?,(CollaboratorGroup)?,(SeriesInformationText)?,(Abstract)?,(KeywordGroup)*)>
<!ATTLIST SeriesHeader
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT SeriesID  (#PCDATA)>
<!--doc: -->
<!ELEMENT SeriesInfo (SeriesID|SeriesPrintISSN|SeriesElectronicISSN|SeriesTitle|SeriesAbbreviatedTitle)+>
<!ATTLIST SeriesInfo
 %att.ID.attributes;
TocLevels CDATA #IMPLIED
SeriesType CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT SeriesInformationText (Para)*>
<!--doc: -->
<!ELEMENT SeriesPrintISSN  (#PCDATA)>
<!--doc: -->
<!ELEMENT SeriesTitle  (#PCDATA)>
<!ATTLIST SeriesTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT Sidebar (Para)*>
<!ATTLIST Sidebar
 %att.ID.attributes;
 %att.Typed.attributes; >
<!--doc: -->
<!ELEMENT SimplePara (#PCDATA|%model.simpleText;|Figure|Table|%model.referenceElements;)*>
<!--doc: -->
<!ELEMENT SpineWidth  (#PCDATA)>
<!--doc: -->
<!ELEMENT SpringerLocationsLine  (#PCDATA)>
<!--doc: -->
<!ELEMENT SpringerReferenceLine  (#PCDATA)>
<!ATTLIST SpringerReferenceLine
 %att.language.attributes;
Country CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Stack  (#PCDATA)>
<!--doc: -->
<!ELEMENT State  (#PCDATA)>
<!--doc: -->
<!ELEMENT Street  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubHeading  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubPart (SubPartInfo,(SubPartHeader)?,(BookFrontmatter)?,(Chapter)+)>
<!ATTLIST SubPart
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT SubPartChapterCount  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubPartHeader ((AuthorGroup)?,(EditorGroup)?,(CollaboratorGroup)?,(Abstract)?,(KeywordGroup)*,(ArticleNote)*)>
<!--doc: -->
<!ELEMENT SubPartID  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubPartInfo (SubPartID,(SubPartNumber)?,(SubPartSequenceNumber)?,SubPartTitle,(SubPartSubTitle)?,(SubPartChapterCount)?)>
<!ATTLIST SubPartInfo
 %att.OutputMedium.attributes;
TocLevels CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT SubPartNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubPartSequenceNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubPartSubTitle %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT SubPartTitle %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT SubSeries (SubSeriesInfo,(BookOnlineFirst)?,(SubSeriesHeader)?,(Toc)?,(Book)*)>
<!--doc: -->
<!ELEMENT SubSeriesAbbreviatedTitle  (#PCDATA)>
<!ATTLIST SubSeriesAbbreviatedTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT SubSeriesElectronicISSN  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubSeriesHeader ((AuthorGroup)?,(EditorGroup)?,(CollaboratorGroup)?)>
<!ATTLIST SubSeriesHeader
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT SubSeriesID  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubSeriesInfo (SubSeriesID,(SubSeriesPrintISSN)?,(SubSeriesElectronicISSN)?,SubSeriesTitle,(SubSeriesSubTitle)?,(SubSeriesAbbreviatedTitle)?)>
<!ATTLIST SubSeriesInfo
 %att.OutputMedium.attributes;
SeriesType (Series|Subseries|VirtualSeries|VolumePackage|Hierarchy) #IMPLIED >
<!--doc: -->
<!ELEMENT SubSeriesPrintISSN  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubSeriesSubTitle  (#PCDATA)>
<!ATTLIST SubSeriesSubTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT SubSeriesTitle  (#PCDATA)>
<!ATTLIST SubSeriesTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT Subscript (#PCDATA|Emphasis)*>
<!--doc: -->
<!ELEMENT Suffix  (#PCDATA)>
<!--doc: -->
<!ELEMENT Superscript (#PCDATA|Emphasis)*>
<!--doc: -->
<!ELEMENT Supplier %macro.anyXML;>
<!--doc:provides a technical committee number -->
<!ELEMENT TC  (#PCDATA)>
<!--doc: -->
<!ELEMENT Table %macro.anyXML;>
<!ATTLIST Table
 %att.ID.attributes;
Float CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT TechnicalInfo %macro.anyXML;>
<!--doc: -->
<!ELEMENT Term %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT TextSpecifications EMPTY>
<!ATTLIST TextSpecifications
GutterMargin CDATA #IMPLIED
HeadMargin CDATA #IMPLIED
Bleeds CDATA #IMPLIED
TypeareaHeight CDATA #IMPLIED
TypeareaWidth CDATA #IMPLIED
PaperStock CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Toc (Heading,(SubHeading)?,(TocFront)*,(TocPart|TocChapter)*,(TocBack)*)>
<!--doc: -->
<!ELEMENT TocBack %macro.SimpleTextModel;>
<!ATTLIST TocBack
PageNumber CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT TocChapter ((Heading)?,(SubHeading)?,(TocEntry,Author*)?)>
<!--doc: -->
<!ELEMENT TocEntry (#PCDATA|%model.simpleText;|ExternalRef)*>
<!ATTLIST TocEntry
PageNumber CDATA #IMPLIED
TargetID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT TocFront %macro.SimpleTextModel;>
<!ATTLIST TocFront
PageNumber CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT TocPart (TocEntry,(Author)*,(TocChapter)*)>
<!--doc: -->
<!ELEMENT TrademarkQualifierText  (#PCDATA)>
<!ATTLIST TrademarkQualifierText
 %att.language.attributes;
Country CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Typesetting EMPTY>
<!ATTLIST Typesetting
Layout CDATA #IMPLIED
StartPage CDATA #IMPLIED
RunningHead CDATA #IMPLIED
LogoOnFirstPage CDATA #IMPLIED
EndsheetsContent CDATA #IMPLIED
StandardFrontmatter CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT URL  (#PCDATA)>
<!--doc: -->
<!ELEMENT UnorderedList ((Heading)?,(ItemContent)+)>
<!ATTLIST UnorderedList
Mark CDATA  #REQUIRED >
<!--doc: -->
<!ELEMENT VolumeID  (#PCDATA)>
<!--doc: -->
<!ELEMENT VolumePackageID  (#PCDATA)>
<!--doc:provides a working group number -->
<!ELEMENT WG  (#PCDATA)>
<!--doc: -->
<!ELEMENT WorkItem EMPTY>
<!ATTLIST WorkItem
 %att.FileChildrenQualifiers.attributes; >
<!--doc: -->
<!ELEMENT WorkflowInfo %macro.anyXML;>
<!ATTLIST WorkflowInfo
TaskType CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Year  (#PCDATA)>
<!--doc: -->
<!ELEMENT colspec %macro.anyXML;>
<!ATTLIST colspec
 %att.TableQualifiers.attributes; >
<!--doc: -->
<!ELEMENT entry %macro.anyXML;>
<!ATTLIST entry
 %att.TableQualifiers.attributes; >
<!--doc: -->
<!ELEMENT row %macro.anyXML;>
<!--doc: -->
<!ELEMENT tbody %macro.anyXML;>
<!--doc: -->
<!ELEMENT tgroup %macro.anyXML;>
<!ATTLIST tgroup
cols CDATA #IMPLIED >
<!-- end elements -->
